.mini-images {
  max-width: 40em;
  display: flex;
  background-color: #1b1b1b;

  @media (display-mode: fullscreen) {
    display: none;
  }
}

.images {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  justify-content: space-between;
}

.slider-button {
  position: relative;
  width: 5em;
  font-size: 2em;
  padding: 0;
  background-color: #00000000;
  color: white;
}

.slider-button:enabled:hover {
  background-color: #ffffff38;
}
