@import "../../../../global_style_settings/_colors.scss";

.navbar {
  background-color: $primaryColor;
  box-shadow: 0px -34px 8px 32px;
  justify-content: right;
}

.dropdownmenu {
  float: right;
}

.logo {
  margin-right: auto;
}

.hamburger {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: auto;
}

.hamburger:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.black-font {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.379);
  animation: appear 0.2s linear forwards;
}

.out {
  animation: disappear 0.17s linear forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
