@import "../../../global_style_settings/_fonts.scss";

.button {
  border: none;
  outline: none;
  cursor: pointer;
  font: {
    family: $textFont;
  }
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transform: none !important;
  transition: none !important;
}
