.fullscreen {
    position: relative;
    margin: 3em auto;
}

.fullscreen:hover {
    transform: scale(1.09);
    transition: transform 0.2s;
}

.fullscreen:active {
    transform: scale(1.04);
    transition: transform 0.1s;
}