.logo {
    display: inline-flex;
    font-size: 0.5em;
}

.h1 {
    font-weight: 350;
    margin: 0;
    padding-left: 0.8em;
    color: white;
}

.span {
    font-weight: 350;
}

@media (max-width: 900px) {
    .h1 {
        display: none;
    }
}