.parent-div {
  display: flex;
}

.menu {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
}

.h1 {
  margin: 0;
  font-size: 1.3em;
  color: white;
  font-weight: 350;
  align-items: center;
  vertical-align: middle;
}

.icon {
  filter: invert(100%);
}

.dropdown-menu {
  position: absolute;
  top: 64px;
  background-color: white;
  padding: 0.3em;
  border-radius: 6px;
  border: solid 1px #20abde;
}

.dropdown-item {
  color: #5e9ed0;
}